<div class="top">
    <h1 class="marginTop">Flight Search Engine</h1>
  </div>
  <div class="left">
    <div class="middled">
  <div class="form">
  <button (click)='Oneway()'>Oneway</button>
  <button (click)='Return()'>Return</button>
  <app-oneway *ngIf="oneway"></app-oneway>
  <app-return *ngIf="return"></app-return>
</div>
</div>
<div class="middled">
<div style="width: 70%">
<!-- <app-slider (currentPrice)='displayPrice($event)'></app-slider> -->

<div  class="slider" style="padding: 20px;width: 70%">
    Refine flight search<br><br>
    <!-- <input type="range" name="ageInputName" id="ageInputId" value="0" min="0" [attr.max]="max"
     oninput="ageOutputId.value = ageInputId.value" (click)='valuechange(slider)' #slider>
    <output name="ageOutputName" id="ageOutputId">0</output> -->
      <input 
      type="range"
      min="0"
      [attr.max]="max"
      [attr.value]="max"
     (click)='valuechange(slider)' #slider /> 
      Price: {{slider.value}}
</div>
</div>
</div>
</div>

<div class="middle">
  <router-outlet></router-outlet>
</div>

